<!DOCTYPE html>
<html>
  <head>
    <title>Project Tracker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <header>
      {{> nav_main}}
    </header>

 <main class="main-content">
    {{{body}}}
 </main>
  </body>
</html>
